--------------------------------------------------------
--  File created - Saturday-November-04-2017   
--------------------------------------------------------
--------------------------------------------------------
--  DDL for Table BAI_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."BAI_HOC" 
   (	"MA_BAIHOC" VARCHAR2(100 BYTE), 
	"TIEU_DE" NVARCHAR2(100), 
	"NOI_DUNG" NVARCHAR2(2000), 
	"MA_CHUONGMUC" VARCHAR2(100 BYTE), 
	"LUOT_XEM" NUMBER
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" 
  NO INMEMORY ("NOI_DUNG") ;
--------------------------------------------------------
--  DDL for Table BINH_LUAN
--------------------------------------------------------

  CREATE TABLE "TMDT"."BINH_LUAN" 
   (	"MA_BINHLUAN" VARCHAR2(100 BYTE), 
	"MA_BAIHOC" VARCHAR2(100 BYTE), 
	"MA_NGUOIDUNG" VARCHAR2(100 BYTE), 
	"NOI_DUNG" NVARCHAR2(2000), 
	"NGAY_BINHLUAN" DATE, 
	"TRANG_THAI" NUMBER(4,0)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" 
  NO INMEMORY ("NOI_DUNG") ;
--------------------------------------------------------
--  DDL for Table CHI_TIET_KHOA_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."CHI_TIET_KHOA_HOC" 
   (	"MA_KHOAHOC" VARCHAR2(100 BYTE), 
	"MO_TA_CHI_TIET" NVARCHAR2(2000)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table CHUONG_MUC
--------------------------------------------------------

  CREATE TABLE "TMDT"."CHUONG_MUC" 
   (	"MA_CHUONGMUC" VARCHAR2(100 BYTE), 
	"MA_KHOAHOC" VARCHAR2(100 BYTE), 
	"TIEU_DE" NVARCHAR2(100), 
	"NOI_DUNG" NVARCHAR2(2000), 
	"TOM_TAT" NVARCHAR2(100)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" 
  NO INMEMORY ("NOI_DUNG") ;
--------------------------------------------------------
--  DDL for Table CHU_DE
--------------------------------------------------------

  CREATE TABLE "TMDT"."CHU_DE" 
   (	"MA_CHUDE" VARCHAR2(100 BYTE), 
	"TIEU_DE" NVARCHAR2(100), 
	"MO_TA" NVARCHAR2(2000), 
	"TRANG_THAI" NUMBER(3,0)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" 
  NO INMEMORY ("MO_TA") ;

   COMMENT ON COLUMN "TMDT"."CHU_DE"."TRANG_THAI" IS '0:block
1:allow';
--------------------------------------------------------
--  DDL for Table DANG_KY_KHOA_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."DANG_KY_KHOA_HOC" 
   (	"MA_KHOAHOC" VARCHAR2(100 BYTE), 
	"MA_NGUOIDUNG" VARCHAR2(100 BYTE), 
	"NGAY_DANG_KY" DATE
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table DANG_KY_XEM_SAU
--------------------------------------------------------

  CREATE TABLE "TMDT"."DANG_KY_XEM_SAU" 
   (	"MA_NGUOIDUNG" VARCHAR2(100 BYTE), 
	"MA_KHOAHOC" VARCHAR2(100 BYTE)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table DINH_KEM_BAI_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."DINH_KEM_BAI_HOC" 
   (	"MA_DINHKEMBAIHOC" VARCHAR2(100 BYTE), 
	"MA_BAIHOC" VARCHAR2(100 BYTE), 
	"NOI_DUNG" NVARCHAR2(500), 
	"NGAY_THEM" TIMESTAMP (6)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table HINH_THUC_GIAO_DICH
--------------------------------------------------------

  CREATE TABLE "TMDT"."HINH_THUC_GIAO_DICH" 
   (	"MA_HINHTHUCGIAODICH" VARCHAR2(100 BYTE), 
	"TEN_HINHTHUCGIAODICH" VARCHAR2(100 BYTE), 
	"MO_TA" NVARCHAR2(500)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table KHOA_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."KHOA_HOC" 
   (	"MA_KHOAHOC" VARCHAR2(100 BYTE), 
	"TIEU_DE" NVARCHAR2(500), 
	"MO_TA" NVARCHAR2(2000), 
	"MA_NGUOIDUNG_TAO" VARCHAR2(100 BYTE), 
	"NGAY_TAO" DATE, 
	"DON_GIA" NUMBER, 
	"MA_LOAIKHOAHOC" VARCHAR2(100 BYTE), 
	"MA_CHUDE" VARCHAR2(100 BYTE), 
	"ADMIN_ID_DUYET" VARCHAR2(100 BYTE), 
	"TRANG_THAI" NUMBER(3,0), 
	"NGAY_DUYET" DATE, 
	"LUOT_TRUY_CAP" NUMBER, 
	"ANH_DAI_DIEN" NVARCHAR2(2000)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table LICH_SU_GIAO_DICH
--------------------------------------------------------

  CREATE TABLE "TMDT"."LICH_SU_GIAO_DICH" 
   (	"MA_LICHSUGIAODICH" VARCHAR2(100 BYTE), 
	"NGAY_GIAODICH" DATE, 
	"NO" NUMBER, 
	"MA_HINHTHUCGIAODICH" VARCHAR2(100 BYTE), 
	"CO" NUMBER, 
	"MA_NGUOIDUNG" VARCHAR2(100 BYTE)
   ) SEGMENT CREATION DEFERRED 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table LOAI_KHOA_HOC
--------------------------------------------------------

  CREATE TABLE "TMDT"."LOAI_KHOA_HOC" 
   (	"MA_LOAIKHOHOC" VARCHAR2(100 BYTE), 
	"TIEU_DE" NVARCHAR2(2000), 
	"MO_TA" NVARCHAR2(2000)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table NGUOI_DUNG
--------------------------------------------------------

  CREATE TABLE "TMDT"."NGUOI_DUNG" 
   (	"MA_NGUOIDUNG" VARCHAR2(100 BYTE), 
	"TEN_NGUOIDUNG" NVARCHAR2(100), 
	"NGAY_DANGDKY" DATE, 
	"EMAIL" NVARCHAR2(100), 
	"ANH_DAI_DIEN" NVARCHAR2(2000), 
	"MAT_KHAU" VARCHAR2(1000 BYTE), 
	"DIEM" NUMBER, 
	"TRANG_THAI" NUMBER(4,0), 
	"DIA_CHI" NVARCHAR2(2000), 
	"SDT" NVARCHAR2(15)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

   COMMENT ON COLUMN "TMDT"."NGUOI_DUNG"."TRANG_THAI" IS 'User status:
1:activated
0:not activated
2:lock';
--------------------------------------------------------
--  DDL for Table QUYEN
--------------------------------------------------------

  CREATE TABLE "TMDT"."QUYEN" 
   (	"MA_QUYEN" VARCHAR2(100 BYTE), 
	"TEN_QUYEN" VARCHAR2(100 BYTE), 
	"MO_TA" VARCHAR2(100 BYTE)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table QUYEN_TRUY_CAP
--------------------------------------------------------

  CREATE TABLE "TMDT"."QUYEN_TRUY_CAP" 
   (	"MA_NGUOIDUNG" VARCHAR2(100 BYTE), 
	"MA_QUYEN" VARCHAR2(100 BYTE)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
REM INSERTING into TMDT.BAI_HOC
SET DEFINE OFF;
REM INSERTING into TMDT.BINH_LUAN
SET DEFINE OFF;
REM INSERTING into TMDT.CHI_TIET_KHOA_HOC
SET DEFINE OFF;
REM INSERTING into TMDT.CHUONG_MUC
SET DEFINE OFF;
REM INSERTING into TMDT.CHU_DE
SET DEFINE OFF;
Insert into TMDT.CHU_DE (MA_CHUDE,TIEU_DE,MO_TA,TRANG_THAI) values ('CD001','Lập trình căn bản','Lập trình căn bản cung cấp các khóa học cho các học viên với các kiến thức căn bản nhất',1);
Insert into TMDT.CHU_DE (MA_CHUDE,TIEU_DE,MO_TA,TRANG_THAI) values ('CD002','Lập trình di động','Lập trình di động cung cấp các khóa học trên các nền tảng di động như android, IOS, Windowphone',1);
REM INSERTING into TMDT.DANG_KY_KHOA_HOC
SET DEFINE OFF;
REM INSERTING into TMDT.DANG_KY_XEM_SAU
SET DEFINE OFF;
REM INSERTING into TMDT.DINH_KEM_BAI_HOC
SET DEFINE OFF;
REM INSERTING into TMDT.HINH_THUC_GIAO_DICH
SET DEFINE OFF;
REM INSERTING into TMDT.KHOA_HOC
SET DEFINE OFF;
Insert into TMDT.KHOA_HOC (MA_KHOAHOC,TIEU_DE,MO_TA,MA_NGUOIDUNG_TAO,NGAY_TAO,DON_GIA,MA_LOAIKHOAHOC,MA_CHUDE,ADMIN_ID_DUYET,TRANG_THAI,NGAY_DUYET,LUOT_TRUY_CAP,ANH_DAI_DIEN) values ('KH001','Lập trình Android cơ bản','Lập trình Android từ căn bản đến nâng cao','ND001',to_date('03-NOV-17','DD-MON-RR'),300000,'CO','CD002','ND002',1,to_date('04-NOV-17','DD-MON-RR'),100,'https://drive.google.com/open?id=0B27mfRY62YKZWFUyME44WjdiUTg');
REM INSERTING into TMDT.LICH_SU_GIAO_DICH
SET DEFINE OFF;
REM INSERTING into TMDT.LOAI_KHOA_HOC
SET DEFINE OFF;
Insert into TMDT.LOAI_KHOA_HOC (MA_LOAIKHOHOC,TIEU_DE,MO_TA) values ('CO','Thương mại hóa','Khóa học mang hình thức thương mại');
Insert into TMDT.LOAI_KHOA_HOC (MA_LOAIKHOHOC,TIEU_DE,MO_TA) values ('NCO','Phi thương mại','khóa học miễn phí');
REM INSERTING into TMDT.NGUOI_DUNG
SET DEFINE OFF;
Insert into TMDT.NGUOI_DUNG (MA_NGUOIDUNG,TEN_NGUOIDUNG,NGAY_DANGDKY,EMAIL,ANH_DAI_DIEN,MAT_KHAU,DIEM,TRANG_THAI,DIA_CHI,SDT) values ('ND001','Trương Tam Lang',to_date('10-NOV-17','DD-MON-RR'),'lang.tt16@gmail.com','https://drive.google.com/open?id=0B27mfRY62YKZUEZWTkxsMTJGQjQ','1234',1000,1,'Khu phố 6, Linh trung thủ đức','01642222992');
Insert into TMDT.NGUOI_DUNG (MA_NGUOIDUNG,TEN_NGUOIDUNG,NGAY_DANGDKY,EMAIL,ANH_DAI_DIEN,MAT_KHAU,DIEM,TRANG_THAI,DIA_CHI,SDT) values ('ND002','Huỳnh Tính Thành',to_date('03-NOV-17','DD-MON-RR'),'cnttk40@gmail.com','https://drive.google.com/open?id=0B27mfRY62YKZRDNxWWZHdl9aUjA','1234',200,1,'Đại học Nông Lâm TP.HCM','01642222992');
REM INSERTING into TMDT.QUYEN
SET DEFINE OFF;
Insert into TMDT.QUYEN (MA_QUYEN,TEN_QUYEN,MO_TA) values ('P001','ROLE_USER','quyền cho người dùng bình thường');
Insert into TMDT.QUYEN (MA_QUYEN,TEN_QUYEN,MO_TA) values ('P002','ROLE_ADMIN','quyền cho quản trị viên');
REM INSERTING into TMDT.QUYEN_TRUY_CAP
SET DEFINE OFF;
Insert into TMDT.QUYEN_TRUY_CAP (MA_NGUOIDUNG,MA_QUYEN) values ('ND001','P001');
Insert into TMDT.QUYEN_TRUY_CAP (MA_NGUOIDUNG,MA_QUYEN) values ('ND002','P002');
--------------------------------------------------------
--  DDL for Index PK_BAI_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_BAI_HOC" ON "TMDT"."BAI_HOC" ("MA_BAIHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_BINH_LUAN
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_BINH_LUAN" ON "TMDT"."BINH_LUAN" ("MA_BINHLUAN") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_CHI_TIET_KHOA_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_CHI_TIET_KHOA_HOC" ON "TMDT"."CHI_TIET_KHOA_HOC" ("MA_KHOAHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_CHUC_VU
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_CHUC_VU" ON "TMDT"."QUYEN" ("MA_QUYEN") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_CHUONG_MUC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_CHUONG_MUC" ON "TMDT"."CHUONG_MUC" ("MA_CHUONGMUC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_CHU_DE
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_CHU_DE" ON "TMDT"."CHU_DE" ("MA_CHUDE") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_DANG_KY_KHOA_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_DANG_KY_KHOA_HOC" ON "TMDT"."DANG_KY_KHOA_HOC" ("MA_KHOAHOC", "MA_NGUOIDUNG") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_DANG_KY_XEM_SAU
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_DANG_KY_XEM_SAU" ON "TMDT"."DANG_KY_XEM_SAU" ("MA_NGUOIDUNG", "MA_KHOAHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_DINH_KEM_BAI_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_DINH_KEM_BAI_HOC" ON "TMDT"."DINH_KEM_BAI_HOC" ("MA_DINHKEMBAIHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_HINH_THUC_GIAO_DICH
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_HINH_THUC_GIAO_DICH" ON "TMDT"."HINH_THUC_GIAO_DICH" ("MA_HINHTHUCGIAODICH") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_KHOA_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_KHOA_HOC" ON "TMDT"."KHOA_HOC" ("MA_KHOAHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_LICH_SU_GIAO_DICH
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_LICH_SU_GIAO_DICH" ON "TMDT"."LICH_SU_GIAO_DICH" ("MA_LICHSUGIAODICH") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_LOAI_KHOA_HOC
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_LOAI_KHOA_HOC" ON "TMDT"."LOAI_KHOA_HOC" ("MA_LOAIKHOHOC") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_NGUOI_DUNG
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_NGUOI_DUNG" ON "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index PK_QUYEN_TRUY_CAP
--------------------------------------------------------

  CREATE UNIQUE INDEX "TMDT"."PK_QUYEN_TRUY_CAP" ON "TMDT"."QUYEN_TRUY_CAP" ("MA_NGUOIDUNG", "MA_QUYEN") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  Constraints for Table QUYEN
--------------------------------------------------------

  ALTER TABLE "TMDT"."QUYEN" MODIFY ("MA_QUYEN" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."QUYEN" ADD CONSTRAINT "PK_CHUC_VU" PRIMARY KEY ("MA_QUYEN")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."KHOA_HOC" MODIFY ("MA_KHOAHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."KHOA_HOC" ADD CONSTRAINT "PK_KHOA_HOC" PRIMARY KEY ("MA_KHOAHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table HINH_THUC_GIAO_DICH
--------------------------------------------------------

  ALTER TABLE "TMDT"."HINH_THUC_GIAO_DICH" MODIFY ("MA_HINHTHUCGIAODICH" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."HINH_THUC_GIAO_DICH" ADD CONSTRAINT "PK_HINH_THUC_GIAO_DICH" PRIMARY KEY ("MA_HINHTHUCGIAODICH")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table QUYEN_TRUY_CAP
--------------------------------------------------------

  ALTER TABLE "TMDT"."QUYEN_TRUY_CAP" MODIFY ("MA_NGUOIDUNG" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."QUYEN_TRUY_CAP" MODIFY ("MA_QUYEN" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."QUYEN_TRUY_CAP" ADD CONSTRAINT "PK_QUYEN_TRUY_CAP" PRIMARY KEY ("MA_NGUOIDUNG", "MA_QUYEN")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table BINH_LUAN
--------------------------------------------------------

  ALTER TABLE "TMDT"."BINH_LUAN" MODIFY ("MA_BINHLUAN" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."BINH_LUAN" ADD CONSTRAINT "PK_BINH_LUAN" PRIMARY KEY ("MA_BINHLUAN")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table NGUOI_DUNG
--------------------------------------------------------

  ALTER TABLE "TMDT"."NGUOI_DUNG" MODIFY ("MA_NGUOIDUNG" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."NGUOI_DUNG" ADD CONSTRAINT "PK_NGUOI_DUNG" PRIMARY KEY ("MA_NGUOIDUNG")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table LICH_SU_GIAO_DICH
--------------------------------------------------------

  ALTER TABLE "TMDT"."LICH_SU_GIAO_DICH" MODIFY ("MA_LICHSUGIAODICH" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."LICH_SU_GIAO_DICH" ADD CONSTRAINT "PK_LICH_SU_GIAO_DICH" PRIMARY KEY ("MA_LICHSUGIAODICH")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table CHUONG_MUC
--------------------------------------------------------

  ALTER TABLE "TMDT"."CHUONG_MUC" MODIFY ("MA_CHUONGMUC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."CHUONG_MUC" ADD CONSTRAINT "PK_CHUONG_MUC" PRIMARY KEY ("MA_CHUONGMUC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table BAI_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."BAI_HOC" MODIFY ("MA_BAIHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."BAI_HOC" ADD CONSTRAINT "PK_BAI_HOC" PRIMARY KEY ("MA_BAIHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table CHU_DE
--------------------------------------------------------

  ALTER TABLE "TMDT"."CHU_DE" MODIFY ("MA_CHUDE" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."CHU_DE" ADD CONSTRAINT "PK_CHU_DE" PRIMARY KEY ("MA_CHUDE")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table DANG_KY_KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."DANG_KY_KHOA_HOC" MODIFY ("MA_KHOAHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."DANG_KY_KHOA_HOC" MODIFY ("MA_NGUOIDUNG" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."DANG_KY_KHOA_HOC" ADD CONSTRAINT "PK_DANG_KY_KHOA_HOC" PRIMARY KEY ("MA_KHOAHOC", "MA_NGUOIDUNG")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table CHI_TIET_KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."CHI_TIET_KHOA_HOC" ADD CONSTRAINT "PK_CHI_TIET_KHOA_HOC" PRIMARY KEY ("MA_KHOAHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table DINH_KEM_BAI_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."DINH_KEM_BAI_HOC" MODIFY ("MA_DINHKEMBAIHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."DINH_KEM_BAI_HOC" ADD CONSTRAINT "PK_DINH_KEM_BAI_HOC" PRIMARY KEY ("MA_DINHKEMBAIHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table LOAI_KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."LOAI_KHOA_HOC" MODIFY ("MA_LOAIKHOHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."LOAI_KHOA_HOC" ADD CONSTRAINT "PK_LOAI_KHOA_HOC" PRIMARY KEY ("MA_LOAIKHOHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Constraints for Table DANG_KY_XEM_SAU
--------------------------------------------------------

  ALTER TABLE "TMDT"."DANG_KY_XEM_SAU" MODIFY ("MA_NGUOIDUNG" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."DANG_KY_XEM_SAU" MODIFY ("MA_KHOAHOC" NOT NULL ENABLE);
  ALTER TABLE "TMDT"."DANG_KY_XEM_SAU" ADD CONSTRAINT "PK_DANG_KY_XEM_SAU" PRIMARY KEY ("MA_NGUOIDUNG", "MA_KHOAHOC")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  TABLESPACE "USERS"  ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table BAI_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."BAI_HOC" ADD CONSTRAINT "FK_BAI_HOC_CHUONG_MUC" FOREIGN KEY ("MA_CHUONGMUC")
	  REFERENCES "TMDT"."CHUONG_MUC" ("MA_CHUONGMUC") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table BINH_LUAN
--------------------------------------------------------

  ALTER TABLE "TMDT"."BINH_LUAN" ADD CONSTRAINT "FK_BINH_LUAN_BAI_HOC" FOREIGN KEY ("MA_BAIHOC")
	  REFERENCES "TMDT"."BAI_HOC" ("MA_BAIHOC") DISABLE;
  ALTER TABLE "TMDT"."BINH_LUAN" ADD CONSTRAINT "FK_BINH_LUAN_NGUOI_DUNG" FOREIGN KEY ("MA_NGUOIDUNG")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") DISABLE;
--------------------------------------------------------
--  Ref Constraints for Table CHI_TIET_KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."CHI_TIET_KHOA_HOC" ADD CONSTRAINT "FK_CHI_TIET_KHOA_HOC_KHOA_HOC" FOREIGN KEY ("MA_KHOAHOC")
	  REFERENCES "TMDT"."KHOA_HOC" ("MA_KHOAHOC") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table CHUONG_MUC
--------------------------------------------------------

  ALTER TABLE "TMDT"."CHUONG_MUC" ADD CONSTRAINT "FK_CHUONG_MUC_KHOA_HOC" FOREIGN KEY ("MA_KHOAHOC")
	  REFERENCES "TMDT"."KHOA_HOC" ("MA_KHOAHOC") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table DANG_KY_KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."DANG_KY_KHOA_HOC" ADD CONSTRAINT "FK_DANG_KI_KHOA_HOC" FOREIGN KEY ("MA_KHOAHOC")
	  REFERENCES "TMDT"."KHOA_HOC" ("MA_KHOAHOC") ENABLE;
  ALTER TABLE "TMDT"."DANG_KY_KHOA_HOC" ADD CONSTRAINT "FK_DANG_KI_KHOA_HOC_NGUOI_DUNG" FOREIGN KEY ("MA_NGUOIDUNG")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table DANG_KY_XEM_SAU
--------------------------------------------------------

  ALTER TABLE "TMDT"."DANG_KY_XEM_SAU" ADD CONSTRAINT "FK_DANG_KY_XEM_SAU_KHOA_HOC" FOREIGN KEY ("MA_KHOAHOC")
	  REFERENCES "TMDT"."KHOA_HOC" ("MA_KHOAHOC") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table DINH_KEM_BAI_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."DINH_KEM_BAI_HOC" ADD CONSTRAINT "FK_DINH_KEM_BAI_HOC_BAI_HOC" FOREIGN KEY ("MA_BAIHOC")
	  REFERENCES "TMDT"."BAI_HOC" ("MA_BAIHOC") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table KHOA_HOC
--------------------------------------------------------

  ALTER TABLE "TMDT"."KHOA_HOC" ADD CONSTRAINT "FK_KHOA_HOC_CHU_DE" FOREIGN KEY ("MA_CHUDE")
	  REFERENCES "TMDT"."CHU_DE" ("MA_CHUDE") ENABLE;
  ALTER TABLE "TMDT"."KHOA_HOC" ADD CONSTRAINT "FK_KHOA_HOC_LOAI_KHOA_HOC" FOREIGN KEY ("MA_LOAIKHOAHOC")
	  REFERENCES "TMDT"."LOAI_KHOA_HOC" ("MA_LOAIKHOHOC") ENABLE;
  ALTER TABLE "TMDT"."KHOA_HOC" ADD CONSTRAINT "FK_KHOA_HOC_NGUOI_DUNG" FOREIGN KEY ("MA_NGUOIDUNG_TAO")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") ENABLE;
  ALTER TABLE "TMDT"."KHOA_HOC" ADD CONSTRAINT "FK_KHOA_HOC_NGUOI_DUNG_DUYET" FOREIGN KEY ("ADMIN_ID_DUYET")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table LICH_SU_GIAO_DICH
--------------------------------------------------------

  ALTER TABLE "TMDT"."LICH_SU_GIAO_DICH" ADD CONSTRAINT "FK_LICH_SU_GIAO_DICH_NGUOI_DUNG" FOREIGN KEY ("MA_NGUOIDUNG")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") ENABLE;
  ALTER TABLE "TMDT"."LICH_SU_GIAO_DICH" ADD CONSTRAINT "FK_LICH_SU_GIAO_DICH_HINH_THUC_GIAO_DICH" FOREIGN KEY ("MA_HINHTHUCGIAODICH")
	  REFERENCES "TMDT"."HINH_THUC_GIAO_DICH" ("MA_HINHTHUCGIAODICH") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table QUYEN_TRUY_CAP
--------------------------------------------------------

  ALTER TABLE "TMDT"."QUYEN_TRUY_CAP" ADD CONSTRAINT "FK_QUYEN_TRUY_CAP_QUYEN" FOREIGN KEY ("MA_QUYEN")
	  REFERENCES "TMDT"."QUYEN" ("MA_QUYEN") ENABLE;
  ALTER TABLE "TMDT"."QUYEN_TRUY_CAP" ADD CONSTRAINT "FK_QUYEN_TRUY_CAP_NGUOI_DUNG" FOREIGN KEY ("MA_NGUOIDUNG")
	  REFERENCES "TMDT"."NGUOI_DUNG" ("MA_NGUOIDUNG") ENABLE;
